@font-face {
  font-family: DM Sans;
  src: url("../../assets/fonts/DM_Sans/DMSans-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: DM Sans;
  src: url("../../assets/fonts/DM_Sans/DMSans-Medium.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}
