// Primary Colors

$primary-text-color: #13182c;
$primary-cta-color: #e42e7e;
$global-color: #ffffff;
$header-color: #e42e7e;
$footer-color: #0b0104;

// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// for header responsive
$mobile-breakpoint: 390px;
