// Primary Colors

$primary-text-color: #13182c;
$primary-cta-color: #cf6398;
$global-color: #ffffff;

// Secondary Colors

$table-placeholder-text: #5c667e;
$outline-color: #bdc5d5;
$header-color:#0d2329;


// Background Colors

$navigation-header-background: #232940;
$page-background: #f7f8f9;

// Supporting Colors

$instock-color: #158463;
$outofstock-color: #c94515;

// Media Queries

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// for header responsive
$mobile-breakpoint: 390px;