@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.main{

    font-family:'DM Sans';
    font-weight:400;
    display:flex;
    flex-direction:row;

    @include desktop{
        display:flex;
        margin-top:2rem;
        gap:3rem;
        margin-left:10%;
        margin-right:10%;
       

        
    }
}

.nodashboard{
    font-family:'DM Sans';
    font-weight:400;
    display:flex;
    flex-direction: column;
    text-align:center;
    margin-top:2rem;

}
.profile {
    display:flex;
    flex-direction:row;
    font-family:'DM Sans';
    margin-left:10rem;
    margin-top:4rem;
    
    &__container{
        flex-direction:column;
    }
    &__name{

    @include desktop{
        
        font-size:32px;
        font-weight:600;
    }
    }

    &__address{
    font-family:'DM Sans';

    @include desktop{
        font-size:18px;
        margin-top:1rem;
    }
    }

    &__image{
        margin-top:1rem;
        margin-right:2rem;
        width:45px;
        height:48px;
        border:1.5px black solid;
        border-radius:100px;

    }
}

.rentdashboard{
    background-color:#F6F2EF;
    border:1px #F6F2EF solid;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    align-items:center;

    @include desktop{
        margin-top:2rem;
        width:42rem;
        height:22rem;
        
    }

    &__icon{
        width:3rem;
        height:2.75rem;
        padding-top:0.5rem;
        padding-right:0.5rem;
        
    }

   &__imagecontainer--row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;

}

    &__container--column{
        display:flex;
        flex-direction: column;
        @include desktop{
            margin-top:1rem;
            
        }
    }

    &__container--row{
        display:flex;
        flex-direction: row;

        @include desktop{
            gap:2rem;
            margin-top:3rem;
            margin-left:1rem;
        }
    }

    &__description{
        display:flex;
        flex-direction: column;
        align-items:center;
        font-weight:600;
        text-align:center;

        @include desktop{
       
        margin:0.5rem;
        margin-top:3rem;
        

        }

    }

    &__description--bold{
        text-align:center;
        font-weight:700;
        font-size:2rem;

    }

    &__optiontext{
        margin-top:2rem;
        font-weight:600;
        font-size:18px;
        gap:0;
    }

    &__paymentbox{
     
        display:flex;
        flex-direction: column;
        text-align:center;
        justify-content: center;
        align-items:center;

        @include desktop{
        gap:0.5rem;
        padding:1rem;
        width:18rem;
        }
       
    }
}

.utildashboard{

    display:flex;
    flex-direction: column;
    align-items:center;
    border:1px #F6F2EF solid;
    border-radius:8px;
    background-color:#F6F2EF;

    @include desktop{
        margin-top:2rem;
        margin-bottom:2rem;
        width:42rem;
        height:22rem;
        gap:1.7rem;
       
    }
    &__description{
        text-align:center;
    }

    &__description--bold{
        margin-top:1rem;
        text-align:center;
        font-weight:700;
        font-size:2rem;
        
    }

        &__rowcontainer{
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content: center;

        }

        &__icon{
            height:3rem;
            padding-top:0.5rem;
            padding-right:0.5rem;
        }

        &__paymentbox{
            display:flex;
            flex-direction: column;
            align-items:center;
            font-family:'DM Sans';
            font-weight:400;
            padding:1rem;
            

            @include desktop{
                width:18rem;
                gap:0.5rem;
            }
        }


}
.button__submit{
    background-color: $primary-cta-color;
    color:$global-color;
    font-family:'DM Sans';
    font-weight:600;
    font-size:1.25rem;
    border:none;
    box-shadow:none;
    border-radius:0.5rem;
    width:15rem;
    padding:0.5rem;
    margin:auto;
 
}