@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.main {
  font-family: "DM Sans";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;

  @include tablet {
    flex-direction: row;
    margin-top: 2rem;
    gap: 3rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  @include desktop {
    flex-direction: row;
    margin-top: 2rem;
    gap: 3rem;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.nodashboard {
  font-family: "DM Sans";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  padding: 10%;
  margin-top: 45%;
  margin-bottom: 45%;

  @include tablet {
    padding: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
.profile {
  display: flex;
  flex-direction: row;
  font-family: "DM Sans";
  margin-top: 7rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

  @include tablet {
    margin-top: 7rem;
    margin-left: 5rem;
  }

  @include desktop {
    margin-top: 6rem;
    margin-left: 10rem;
  }

  &__container {
    flex-direction: column;
  }
  &__name {
    font-weight: 600;
    font-size: 22px;

    @include tablet {
      font-size: 28px;
    }
    @include desktop {
      font-size: 32px;
    }
  }

  &__address {
    font-family: "DM Sans";
    font-size: 14px;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 18px;
      margin-top: 1rem;
    }
  }

  &__image {
    margin-top: 0.5rem;
    margin-right: 1rem;
    border: 1.5px black solid;
    border-radius: 100px;
    width: 25px;
    height: 28px;

    @include tablet {
      margin-top: 1rem;
      margin-right: 2rem;
      width: 35px;
      height: 38px;
    }
    @include desktop {
      margin-top: 1rem;
      margin-right: 2rem;
      width: 45px;
      height: 48px;
    }
  }
}

.rentdashboard {
  background-color: #f6f2ef;
  border: 1px #f6f2ef solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.25rem;
  width: 18rem;
  height: 15rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  @include tablet {
    margin-top: 1rem;
    width: 40rem;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @include desktop {
    margin-top: 2rem;
    width: 42rem;
    height: 22rem;
  }

  &__icon {
    width: 2rem;
    height: 1.75rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;

    @include tablet {
      width: 2rem;
      height: 1.75rem;
      padding-top: 0.2rem;
      padding-right: 0.5rem;
    }
    @include desktop {
      width: 3rem;
      height: 2.75rem;
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      margin-bottom: 0.25rem;
    }
  }

  &__imagecontainer--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__container--column {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;

    @include tablet {
      gap: 2.1rem;
    }

    @include desktop {
      gap: 0rem;
    }
  }

  &__container--row {
    display: flex;
    flex-direction: row;

    @include desktop {
      gap: 2rem;
      margin-top: 3rem;
      margin-left: 1rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    text-align: center;

    @include desktop {
      margin: 0.5rem;
      margin-top: 3rem;
    }
  }

  &__description--bold {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;

    @include tablet {
      font-size: 1.75rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }

  &__optiontext {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 18px;
    gap: 0;
  }

  &__paymentbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    @include desktop {
      gap: 0rem;
      padding: 1rem;
      width: 18rem;
    }
  }
}

.utildashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #f6f2ef solid;
  border-radius: 8px;
  background-color: #f6f2ef;
  margin-top: 0.25rem;
  width: 18rem;
  height: 15rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 1rem;

  @include tablet {
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 40rem;
    height: 20rem;
  }

  @include desktop {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 42rem;
    height: 22rem;
    gap: 1.7rem;
  }
  &__description {
    text-align: center;
    @include desktop {
      margin-top: 1.25rem;
    }
  }

  &__description--bold {
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;

    @include tablet {
      font-size: 1.75rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }

  &__rowcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include desktop {
      margin-top: 0.25rem;
    }
  }

  &__icon {
    width: 2rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;

    @include tablet {
      height: 2rem;
      padding-top: 0.6rem;
      padding-right: 0.5rem;
    }
    @include desktop {
      height: 2.7rem;
      width: 2.5rem;
      padding-top: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__paymentbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Sans";
    font-weight: 400;

    @include desktop {
      width: 18rem;
      gap: 0.25rem;
    }
  }
}
.button__submit {
  background-color: $primary-cta-color;
  color: $global-color;
  font-family: "DM Sans";
  font-weight: 600;
  font-size: 1rem;
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  margin: auto;
  width: 6rem;
  padding: 0.25rem;
  margin-top: 1rem;

  @include tablet {
    width: 8rem;
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
  }

  @include desktop {
    width: 15rem;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}
