@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.header{

    background-color:$header-color;
    font-family:'DM Sans';
    padding:0.15rem;
    display:flex;
    flex-direction: row;
    position:relative;
       
    
    &__logo{
        width: 100px;
        height: 70px;
    }

    &__icon{
        width:30px;
        
    }

    &__login{
        position:absolute;
        right:1rem;
        top:1rem;
        text-align:center;
    }

    &__container{
        display:flex;
        flex-direction: row;
    }

    &__login--text{
        font-weight:600;
        color:$global-color;
        font-size:1rem;
        
    }
}