@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.header{

    background-color:$header-color;
    font-family:'DM Sans';
    padding:0.15rem;
    display:flex;
    flex-direction: row;
    position:relative;
       
    
    &__logo{
        width: 90px;
        height: 60px;
        margin-left:1rem;
    }

  &__list{
    font-family:'DM Sans';
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;

    @include desktop{
    gap:1.5rem;
    margin-left:73%;

    }
    
  }

    &__text{
        font-weight:600;
        color:$primary-cta-color;
        background-color:$global-color;
        font-size:1rem;
        list-style:none;
        border:2px white solid;
        border-radius:8px;
        padding:0.25rem;
        box-shadow:none;
        
    }
}



  