@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;


.header{

    background-color:$header-color;
    font-family:'Titillium Web';


    &__container{
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
    }
    &__logo{
        width:50px;
    }

    &__login{
        align-self:flex-end
    }

    &__login--text{
        font-weight:600;
        
    }
}