@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: #fafafa;
  color: black;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: static;
  width: 100%;
  height: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 17rem;
    font-size: 1rem;
  }

  @include desktop {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 15rem;
    font-size: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 1rem;
    }
    @include desktop {
      padding-bottom: 1rem;
    }
  }

  &__list--item {
    padding: 0.25rem;
    flex-wrap: wrap;

    @include desktop {
    }
  }

  &__list--itembold {
    font-weight: 600;
    flex-wrap: nowrap;
    color: $primary-cta-color;

    @include desktop {
      padding-top: 0.5rem;
    }
  }

  &__inc {
    display: flex;
    align-self: flex-end;
    padding-bottom: 2rem;
  }

  &__container--row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  &__container--column {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    @include desktop {
      width: 100px;
      height: 70px;
      margin-right: 2rem;
    }
  }

  &__support--text {
    font-weight: 400;
    font-size: 0.25rem;
  }
}
